---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Team">
    <div class="container mx-auto" >
        <div class="my-10" >
            <h1 class="text-6xl font-display text-center" >
                Meet the Leadership
            </h1>
            <p class="text-center mt-2 text-xl text-gray-700" >
                Our team is filled with passionate people who are here to make an impact
            </p>
        </div>

        <div class="flex w-4/5 mx-auto" >
            <div>
                <img class="mx-auto" src="https://res.cloudinary.com/poorna/image/upload/c_scale,h_600/v1642185921/aveksha/Shiv-Image-Final-817x1024.png" alt="Shivram Poigai Arunachalam" >
            </div>
            <div class="ml-8" >
                <h2 class="text-2xl font-display" >
                    Dr.Shivaram Poigai Arunachalam
                </h2>
                <p class="uppercase text-xl text-gray-800" >
                    President
                </p>
                <p class="text-lg text-gray-700" >
                    Associate Consultant, Mayo Clinic. Founder & CEO, Patfoci Technologies Inc. 
                    <br>
                    Rochester, Minnesota, Unites States
                </p>
                <p>
                    His professional background spans diverse educational areas from electrical engineering to statistics to public health which provides base needed to pursue a challenging career in transational medicine research.
                </p>
                <div class="mt-3 w-1/4 border-2 border-gray-200 rounded-md flex justify-between py-1 shadow-sm cursor-pointer" >
                    <div class="p-2" >
                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C21.9939 17.5203 17.5203 21.9939 12 22ZM4 12.172C4.04732 16.5732 7.64111 20.1095 12.0425 20.086C16.444 20.0622 19.9995 16.4875 19.9995 12.086C19.9995 7.68451 16.444 4.10977 12.0425 4.086C7.64111 4.06246 4.04732 7.59876 4 12V12.172ZM10 16.5V7.5L16 12L10 16.5Z" fill="#2E3A59"></path>
                        </svg>
                    </div>
                    <div class="my-auto px-3 text-center" >
                        Watch his journey
                    </div>
                </div>

            </div>
        </div>

        <div class="w-4/5 mx-auto grid grid-cols-3 gap-x-4 mt-6" >
        
            <div class="border border-gray-200 rounded-md p-2" >
                <img alt="Godugu Swathi Aashraya" class="h-80 mx-auto" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_500/v1642188010/aveksha/swati.png" >
                <p class="text-center font-display text-xl mt-2 text-gray-800" >
                    Dr.Godugu Swathi Aashraya
                </p>
                <p class="text-gray-600 text-center uppercase" >
                    Vice President
                </p>
            </div>

            <div class="border border-gray-200 rounded-md p-2" >
                <img alt="Neha Rao" class="h-80 mx-auto" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_500/v1642224996/aveksha/WhatsApp_Image_2022-01-15_at_02.51.46.png" >
                <p class="text-center font-display text-xl mt-2 text-gray-800" >
                    Shreya Sreeram

                </p>
                <p class="text-gray-600 text-center uppercase" >
                    Joint President
                </p>
            </div>

            <div class="border border-gray-200 rounded-md p-2" >
                <img class="h-80 mx-auto" alt="Kaushik Sreeram" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_500/v1642188468/aveksha/unnamed.png" >
                <p class="text-center font-display text-xl mt-2 text-gray-800" >
                    Dr.Kaushik Sreeram

                </p>
                <p class="text-gray-600 text-center uppercase" >
                    Chief Operations Officer
                </p>
            </div>

            <div class="border border-gray-200 rounded-md p-2" >
                <img alt="Neha Rao" class="h-80 mx-auto" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_500/v1642188469/aveksha/neha.png" >
                <p class="text-center font-display text-xl mt-2 text-gray-800" >
                    Neha Rao

                </p>
                <p class="text-gray-600 text-center uppercase" >
                    Secretary, Mission brain india
                </p>
            </div>


            <div class="border border-gray-200 rounded-md p-2" >
                <img alt="Poornachandra" class="h-80 mx-auto block mt-auto" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_500/v1642225419/aveksha/IMG_20180910_081735_821_1-removebg-preview.png" >
                <p class="text-center font-display text-xl mt-2 text-gray-800" >
                    Poornachandra V
                </p>
                <p class="text-gray-600 text-center uppercase" >
                    Chief Technology Officer
                </p>

            </div>

        </div>

    </div>
</BaseLayout>