---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Work" >
<div class="pt-4" >
    <div class="mx-auto lg:container" >
        <div class="my-10">
            <h1 class="text-6xl font-display text-center" >
                Our Work
            </h1>
            <p class="text-gray-700 text-xl text-center w-1/2 mx-auto mt-4" >
                <strong>1M</strong> Indians have no access to quality healthcare, here at Aveksha we have made it our mission to provide sustainable long term quality healthcare to all
            </p>
        </div>

        <!-- STATISTIC -->
        <div class="my-10 py-6 bg-theme flex justify-around rounded-md" >
            <div>
                Statistic 1
            </div>
            <div>
                Statistic 2
            </div>
            <div>
                Statistic 3
            </div>
        </div>

        <div class="my-20 mx-10 flex flex-col gap-y-16" >

            <!-- SMART CLINIC -->
            <div class="flex justify-center gap-x-10" >
                <div class="w-full my-auto" >
                    <div>
                        <h2 class="text-gray-800 text-4xl font-display block" >
                            Aveksha Smart Clinic
                        </h2>
                        <p class="text-9xl font-bold text-yellow-200 absolute -my-24 -z-50" >
                            01
                        </p>
                    </div>
                    <div class="mt-4" >
                        <p class="text-xl text-gray-700" >
                            Main method of healthcare delivery to people, our clinics are staffed with qualified doctors and allied healthcare professionals that use latest in EHRs and diagnostics to effectively treat patients.
                        </p>
                    </div>
                </div>
                <div class="w-full" >
                    <img class="mx-auto rounded-md border-b-8 border-r-8 border-indigo-900" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_700/v1642228687/aveksha/WhatsApp_Image_2022-01-15_at_01.01.33.png" alt="Aveksha Smart clinic" >
                    <p class="text-gray-700 text-base text-center" >
                        Smart clinic located at Yeldur, KA, IN
                    </p>
                </div>
            </div>

            <!-- INTEGRATED ELECTRONIC HEALTH RECORDS -->
            <div class="flex flex-row-reverse justify-center gap-x-10" >
                <div class="w-full my-auto" >
                    <div>
                        <h2 class="text-gray-800 text-4xl font-display block" >
                            Integrated Electronic Health Records
                        </h2>
                        <p class="text-9xl font-bold text-yellow-200 absolute -my-24 -z-50" >
                            02
                        </p>
                    </div>
                    <div class="mt-4" >
                        <p class="text-xl text-gray-700" >
                            Co developed with doctors and tailored for efficiency. 
                            In a fragmented ecosystem where patients are unable to keep track of all the treatments recieved previosuly, EHRs reduce dependency on patients memory and make healthcare more inclusive. Overtime the analytics will be used to further tailor treatment methods towards rural needs.
                        </p>
                    </div>
                </div>
                <div class="w-full" >
                    <img class="mx-auto rounded-md border-b-8 border-r-8 border-indigo-900" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_800/v1642230645/aveksha/ehr.png" alt="Aveksha EHR" >
                    <p class="text-gray-700 text-base text-center" >
                        Integrated EHR system at Aveksha
                    </p>
                </div>
            </div>

            <!-- TELECONSULTATION -->
            <div class="flex justify-center gap-x-10" >
                <div class="w-full my-auto" >
                    <div>
                        <h2 class="text-gray-800 text-4xl font-display block" >
                            Teleconsultation
                        </h2>
                        <p class="text-9xl font-bold text-yellow-200 absolute -my-24 -z-50" >
                            03
                        </p>
                    </div>
                    <div class="mt-4" >
                        <p class="text-xl text-gray-700" >
                            Teleconsultations offer a way for distant rural populations to reach out to healthcare providers anytime of the day. Trained professionals respond to the calls with immediate measures and schedule an appointment for further evaluation.
                        </p>
                    </div>
                </div>
                <div class="w-full" >
                    <img class="mx-auto rounded-md border-b-8 border-r-8 border-indigo-900" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_700/v1642231844/aveksha/gyan-shahane-ntb8qSz-wW8-unsplash.png" alt="Teleconsultations" >
                    <!-- <p class="text-gray-700 text-base text-center" >
                        Smart clinic located at Yeldur, KA, IN
                    </p> -->
                </div>
            </div>

            <!-- EDUCATIONAL ACTIVITIES -->
            <div class="flex flex-row-reverse justify-center gap-x-10" >
                <div class="w-full my-auto" >
                    <div>
                        <h2 class="text-gray-800 text-4xl font-display block" >
                            Educational Activities 
                        </h2>
                        <span class="text-2xl font-body text-gray-700">Collaboration with Mission Brain India</span>
                        <p class="text-9xl font-bold text-yellow-200 absolute -my-24 -z-50" >
                            04
                        </p>
                    </div>
                    <div class="mt-4" >
                        <p class="text-xl text-gray-700" >
                            Weekly educational activities for local children on basics of health, sanitation and general awareness. 
                        </p>
                    </div>
                </div>
                <div class="w-full" >
                    <img class="mx-auto rounded-md border-b-8 border-r-8 border-indigo-900" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_700/aveksha/education.png" alt="Educational Activities" >
                    <p class="text-gray-700 text-base text-center" >
                        General awareness class in progress
                    </p>
                </div>
            </div>

                <!-- MEDICAL CAMPS -->
                <div class="flex justify-center gap-x-10" >
                    <div class="w-full my-auto" >
                            <div>
                                <h2 class="text-gray-800 text-4xl font-display block" >
                                    Medical Camps 
                                </h2>
                                <p class="text-9xl font-bold text-yellow-200 absolute -my-24 -z-50" >
                                    05
                                </p>
                            </div>
                            <div class="mt-4" >
                                <p class="text-xl text-gray-700" >
                                    Monthly medical camps that draw in people from the surrounding neighbourhoods where common ailments are treated and patients requiring further evaluation are referred to higher centers. The camps also offers free medications from our pharmaceutical partners.
                                </p>
                            </div>
                        </div>
                        <div class="w-full" >
                            <img class="mx-auto rounded-md border-b-8 border-r-8 border-indigo-900" src="https://res.cloudinary.com/poorna/image/upload/c_scale,w_700/aveksha/WhatsApp_Image_2021-12-26_at_16.38.26.png" alt="Medical camps" >
                            <!-- <p class="text-gray-700 text-base text-center" >
                                General awareness class in progress
                            </p> -->
                        </div>
                    </div>
                </div>


        </div>
</div>
</BaseLayout>